//Simple dynamic animations using ionic colors for hoverable elements
// Usage <div class="hoverable color-fade-stable"></div>

$ionic-colors: $light $stable $positive $calm $balanced $energized $assertive $royal $dark;
$ionic-colors-names: light stable positive calm balanced energized assertive royal dark;

$color-source: black;
$color-fade-time: 0.5s;

@for $i from 1 through length($ionic-colors-names) {

  $color-current-name: nth($ionic-colors-names, $i);
  $color-target: nth($ionic-colors, $i);

  .hoverable:hover.color-fade-#{$color-current-name} {

    color: $color-target;
    -webkit-animation: kf-color-fade-#{$color-current-name} $color-fade-time 1 alternate;
    -moz-animation: kf-color-fade-#{$color-current-name} $color-fade-time 1 alternate;
    -ms-animation: kf-color-fade-#{$color-current-name} $color-fade-time 1 alternate;
    -o-animation: kf-color-fade-#{$color-current-name} $color-fade-time 1 alternate;
    animation: kf-color-fade-#{$color-current-name} $color-fade-time 1 alternate;
  }

  @-webkit-keyframes kf-color-fade-#{$color-current-name} {
    from {
      color: $color-source;
    }
    to {
      color: $color-target;
    }
  }
  @-moz-keyframes kf-color-fade-#{$color-current-name} {
    from {
      color: $color-source;
    }
    to {
      color: $color-target;
    }
  }
  @-ms-keyframes kf-color-fade-#{$color-current-name} {
    from {
      color: $color-source;
    }
    to {
      color: $color-target;
    }
  }
  @-o-keyframes kf-color-fade-#{$color-current-name} {
    from {
      color: $color-source;
    }
    to {
      color: $color-target;
    }
  }
  @keyframes kf-color-fade-#{$color-current-name} {
    from {
      color: $color-source;
    }
    to {
      color: $color-target;
    }
  }

}


